*{
    margin: 0;
    padding: 0;
}

.head{
    height: 200px;
    background-image: url("../img/pattern.png");
    background-color: lightblue;
    position: relative;
}

.logo{
    height: 100px;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.title{
    font-size: 350%;
    margin: 5px;
}

.credits{
    font-size: 150%;
}

.credits, .date{
    margin-left: 5px;
    color: grey;
}

.font-color{
    color: lightblue;
}

.tim1{
    margin-left: 5px;
    margin-top: 20px;
}

.creditsphoto1, .creditsphoto2{
    margin-left: 5px;
    font-size: 75%;
}

.paragrafo1{
    margin-left: 5px;
    margin-top: 20px;
}


