*{
    margin: 0;
    padding: 0;
}

.head{
    height: 200px;
    background-image: url("../img/pattern.png");
    background-color: lightblue;
    position: relative;
}

.logo{
    height: 100px;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.title{
    font-size: 350%;
    margin: 5px;
}

.credits{
    font-size: 150%;
}

.credits, .date{
    margin-left: 5px;
    color: grey;
}

.font-color{
    color: lightblue;
    background-color: white;
}

.tim1{
    margin-left: 5px;
    margin-top: 20px;
}

.creditsphoto1, .creditsphoto2{
    margin-left: 5px;
    font-size: 75%;
}

.paragrafo1, .paragrafo2{
    margin-left: 5px;
    margin-top: 20px;
}

.list{
    margin-left: 20px;
    margin-top: 20px;
}

table{
    margin-left: 5px;
    margin-top: 20px;
}

td{
    width: 30%;
}

.row1{
    background-color: lightskyblue;
    color: white    ;
}

.row2, .row4{
    background-color: lightblue;
}

p > span{
    background-color: yellow;
}

footer{
    margin-left: 5px;
    margin-top: 30px;
}

.link1, .link2{
    display: block;
    margin-top: 5px;
    width: 250px;
    height: 200px;
    text-decoration: none;
    color: white;
}

.link1{
    background-image: url("../img/graph.jpg");
}

.link2{
    background-image: url("../img/monitor.jpg");
}





